.cover-image {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-home{
  border-radius: 90px;
  box-shadow:  0 0 0 1px #738BA7 inset, 0 0 0 4px #203B5A;
	background-color: none;

}

.homepage-img-bg{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.homepage-title{
  font-size: 4rem;
}

.homepage-title-small{
  font-size: 3rem;
}

#aboutpage-scroll{
  height: calc(100vh - 110px);
  overflow: auto;
}