.cover-image {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-home{
  border-radius: 90px;
  box-shadow:  0 0 0 1px #061870 inset, 0 0 0 3px #061870;
	background-color: none;

}

.homepage-img-bg{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  //margin-bottom: 0px;
  //position: relative;
  //top: -125;
  //margin-top: -40px;
  //margin-bottom: 0px;
}

.homepage-title{
  font-size: 70px;
}

.homepage-title-small{
  font-size: 50px;
}