@import '~antd/dist/antd.css';

.logo {
  /* width: 120px; */
  height: 90px;
  /* margin: 13px 40px 0px 0px; */
  float: left;
}
body {
  background: #f0f2f5;
}

.summery-data-title {
  text-align: center;
}
