@import '~antd/dist/antd.css';
// @import '~bootstrap/scss/bootstrap';

.logo {
  /* width: 120px; */
  height: 60px;
  margin: 13px 40px 0px 0px;
  float: left;
}
body {
  background: #ffffff;
}

// .nci-logo{
//   align-items: center;
//   display: flex;
//   min-height: 100%;
//   /* min-height: 100vh; */
//   padding-left: 50px
// }
// // .summery-data-title {
// //   text-align: left;
// // }

// .bg-primary-light {
//   background-color: #ffffff;
//   height: 90px;
// }


// .title{
//   background-color: #BA1F40;
//   padding-left: 50px;
//   align-items: center;
//   // min-height: 100%;
//   /* min-height: 100vh; */
//   height: 40px;
// }
// .title-text {
//   align-items: center;
//   display: flex;
//   color: #ffffff;
//   align-items: center;
//   min-height: 100%;
//   size: 100px;
//   font-size: 20px;
//   font-weight: bold;
// }