<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your application has been approved</title>
    <style>
      body,
      pre {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
    </style>
  </head>
  <body>
    <p>Dear Methylscape User,</p>

    <p>Your Registration application has been approved</p>
    <div>
      <strong>Name:</strong>
      <%- name %>
    </div>
    <div>
      <strong>Email:</strong>
      <%- email %>
    </div>

    <p>Respectfully,</p>
    <p>Methylscape Web Tool</p>
  </body>
</html>