<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Methylscape registration confirmation</title>
    <style>
      body,
      pre {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
          "Helvetica Neue", sans-serif;
      }
    </style>
  </head>
  <body>
    <p>Dear <%- firstName %> <%- lastName %>,</p>

    <p>Thank you for your interest in Methylscape Software, your registration has been received and is under review.</p>

    <p>Sincerely,</p>
    <p>Methylscape Web Admin Team</p>
  </body>
</html>
