h2 {
  margin: 0.5em !important;
}

h3.noDataTitle {
  margin: 1em !important;
}

.textRed {
  color: #dc3545;
}

.ant-table-title {
  background-color: #757575;
  text-align: center;
  padding: 0.5em !important;
}

.ant-table-title > h3 {
  color: white;
  margin: 0;
}

.ant-table-wrapper {
  margin: 0.5rem 0 0.5rem;
}

#significantTables {
  padding: 1rem;
}

#uncertainSignificance {
  padding: 1rem;
  margin-top: 1rem;
}
