.countup {
  padding-left: 5px;
  margin-bottom: 0px;
  color: black;
  font-size: 18px;
  font-weight: 200;
  display: inline;
  margin-right: 0.5rem;
  font-weight: bold;
}

// .stat-icon {
//   color: black;
//   font-size: 24px; //rem;
//   align-self: center;
// }

.stat-icon {
  height: 120px;
  align-self: left;
}

.data-text-project {
  position: absolute;
  //left: 140px;
  //top: 25px;
  padding-top:30px;
  padding-left:125px;
}

.data-text-experiment{
  position: absolute;
  padding-top:30px;
  padding-left:110px;
}
.data-text-sample{
  position: absolute;
  padding-top:30px;
  padding-left:110px;
}

.header-img{
  position:relative;
}

.detail-table-divider{
  border-left: 3px solid #6BA5B4;
  background-color: #E4F8FF;
}


