.countup {
  padding-left: 5px;
  margin-bottom: 0px;
  color: blue;
  font-size: 24px;
  font-weight: 200;
  display: inline;
  margin-right: 0.5rem;
}

// .stat-icon {
//   color: black;
//   font-size: 24px; //rem;
//   align-self: center;
// }

.stat-icon {
  height: 48px; //rem;
  align-self: center;
}


