.grayBack {
  background-color: #f0f2f5;
}
.grayBack:hover {
  background-color: #e6f7ff;
}
.whiteBack {
  background-color: white;
  border-bottom: 0px;
}
.whiteBack:hover {
  background-color: #e6f7ff;
}
.ant-table-tbody > tr > td {
  /*border-bottom: 0px;*/
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: inherit;
}

.ant-table {
  /*line-height: 0.5;*/
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}