.ant-table-body {
  overflow-y: hidden !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.borderless-table {
  /*border: 0px !important;*/
}

.ant-table-expand-icon-th,
.ant-table-row-expand-icon-cell {
  width: 0px;
  min-width: 0px;
  padding: 0px !important;
  max-width: 0px;
}

.ant-table-expanded-row-level-1 > td {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ant-table-expanded-row-level-1
  > td
  > div
  > div
  > div
  > div
  > div
  > div
  > div
  > table
  > tbody
  > tr
  > td {
  vertical-align: top;
}
.linkSpan {
  color: #1890ff;
}
.linkSpan:hover {
  cursor: pointer;
}

.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.buttonHoverClass {
  cursor: pointer;
  margin-top: 0px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-dropdown {
  min-width: 85px;
}

.page-overflow-box {
  overflow-x: auto;
}
.page-overflow-box:hover {
  overflow-x: auto;
}
