.pagination-square {
  border-radius: 0;
}

.btn-border-sample-blue {
  border-color: #b0cfea;
  border-width: 3px;
}

.search-bg {
  background-color: #43d3af;
}

.sample-title {
  color: #4d64a5;
  font-weight: normal;
}

.pagination {
  border: 0;
}
