.pagination-square{
    border-radius: 0;
}

.btn-border-sample-blue{
    border-color: #B0CFEA;
    border-width: 3px;
}

.search-bg {
    background-color: #43D3AF ;
}

.sample-title{
    color: #4D64A5;
    font-weight: normal;
}

.pagination{
    border: 0;
}