.pagination-square{
    border-radius: 0;
}

.btn-border-sample-blue{
    border-color: #B0CFEA;
    border-width: 2px;
}

.search-bg {
    background-color: #43D3AF ;
}

.sample-title{
    color: #4D64A5;
}

.sample-detail-table{
    border-left: 5px solid red;
}