body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x:hidden;
}
html {
  height: -webkit-fill-available;
} 

.legend {
  font-size: 1rem;
  white-space: nowrap;
}

legend {
  float: none;
  width: inherit;
}
